<!DOCTYPE html>
<html>
  <head>
    <title>QrCodeReaderDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="main">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer>
      <span><%= link_to 'Home', root_path %> | </span>
      <span><%= link_to 'Basic QR Scanner', basic_qr_code_reader_path %> | </span>
      <span><%= link_to 'QR Scanner on Rails', rails_qr_codes_path %></span>
    </footer>
  </body>
</html>
